.item-box {
  height: 404px;
  width: 370px;
  border-radius: 0px;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-box:hover {
  box-shadow: 1px 4px 6px 0px #00000029;

  box-shadow: 0px 4px 4px 0px #0000000f;

  box-shadow: 0px 1px 1px 0px #0000001f;
  box-shadow: -3px 12px 18px 11px #a6a6a6;
}

.item-box__images {
  position: relative;
  top: 0;
  z-index: 1;
}