.our-assets {
  display: flex;
  justify-content: center;

  &__text-header {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--header-color);
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--text-color);

    padding-right: 22px;
    display: inline-flex;
  }
  &__icon {
    width: 270px;

    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
